
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.103)), url(https://live.staticflickr.com/2748/4016523113_4a4178632e_b.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s;
	margin: 10px;

}
ul li a:hover{
	background-color: #fff;
	color: rgb(248, 248, 248);
}
.navbar-brand{
	color: #fff;
}
.logo img{
	float: left;
	width: 180px;
	height: auto;
}
.main{
	max-width: 3000px;
	margin: auto;
}
.title{
	position: absolute;
	top : 20%;
	left : 20%;

}
.title h1{
	font-family: sans-serif;
	color: #fff;
	font-size: 70px;
}
.container{
	position:absolute;
	top:45%;
	left:10%;
	font-size: large;
	color: #000;
}
.button{
	position: absolute;
	top: 90%;
	left: 43%;
}
.btn1{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin: 10px;
}
.btn1:hover{
	background-color:#fff;
	color: #000
}
.tentang{
	position: absolute;
	background-color: aqua,url(https://i.pinimg.com/564x/15/41/d3/1541d36d93fca7e09fca018f14458967.jpg);
	top: 100%;
	height: 100vh;
}
.tentang h3{
	font-family: sans-serif;
	color: rgb(0, 0, 0);
	font-size: 50px;
	text-align: center
}
.tentang h4{
	font-family: sans-serif;
	color: rgb(0, 0, 0);
	font-size: 25px;
	text-align: center;
}
.container px-4 px-lg-5 {
	color: #fff;
}
